<div class="cart-page-layout">
  <div class="container" [formGroup]="form">
    <h3>基本資料</h3>
    <div class="form-item">
      <div class="form-column">
        <label>姓名</label>
        <input type="text" formControlName="name" />
        @if (name.hasError('required') && name.touched) {
        <div class="error-message">請輸入姓名</div>
        }
      </div>
    </div>

    <div class="form-item">
      <div class="form-column">
        <label>地址</label>
        <input type="text" formControlName="address" />
        @if (address.hasError('required') && address.touched) {
        <div class="error-message">請輸入地址</div>
        }
      </div>
    </div>

    <div class="form-item">
      <div class="form-column">
        <label>電話</label>
        <input type="text" formControlName="phone" />
        @if (phone.hasError('required') && phone.touched) {
        <div class="error-message">請輸入電話</div>
        }
      </div>
    </div>
  </div>

  <div class="cart-items-stream">
    <div class="title-box">
      <h3>購買項目</h3>
    </div>

    @if (cartService.cartItems().length > 0) { @for (item of cartService.cartItems(); track item.product.id; let i = $index) {
    <div class="item-card-box">
      <div class="form-column">
        <span class="item-index">{{ i + 1 }}</span>

        <label>{{ item.product.name }}</label>

        <div class="item-spacer"></div>

        <input type="number" [(ngModel)]="item.quantity" (change)="cartService.updateQuantity(item.product.id, item.quantity)" min="1" />

        <span class="item-price">{{ item.product.price * item.quantity | currency : '$' : 'symbol' : '4.2' }}</span>

        <div class="error-message">
          <button class="btn-delete" (click)="cartService.removeFromCart(item.product.id)">刪除</button>
        </div>
      </div>
    </div>
    } }
  </div>
</div>

<div class="action-footer">
  <button class="btn-submit" (click)="onSubmit()" [disabled]="cartService.cartItems().length === 0">
    送出訂單 ({{ cartService.totalPrice() | currency : '$' : 'symbol' : '4.2' }})
  </button>
</div>
