<div class="cart-page-layout">
  <div class="container" [formGroup]="form">
    <h3>基本資料</h3>
    <div class="form-item">
      <div class="form-column">
        <label>姓名</label>
        <input type="text" formControlName="name" />
        @if (name.hasError('required')) {
        <div class="error-message">請輸入姓名</div>
        }
      </div>
    </div>

    <div class="form-item">
      <div class="form-column">
        <label>地址</label>
        <input type="text" formControlName="address" />
        @if (address.hasError('required')) {
        <div class="error-message">請輸入地址</div>
        }
      </div>
    </div>

    <div class="form-item">
      <div class="form-column">
        <label>電話</label>
        <input type="text" formControlName="phone" />
        @if (phone.hasError('required')) {
        <div class="error-message">請輸入電話</div>
        }
      </div>
    </div>
  </div>

  <div class="container">
    <h3>購買項目</h3>

    @if (cartService.cartItems().length === 0) {
    <div class="form-item">
      <div class="form-column">
        <label style="width: 100%; text-align: center; color: #999">購物車目前沒有商品</label>
      </div>
    </div>
    } @else { @for (item of cartService.cartItems(); track item.product.id) {
    <div class="form-item">
      <div class="form-column">
        <label>{{ item.product.name }}</label>

        <input type="number" [(ngModel)]="item.quantity" (change)="cartService.updateQuantity(item.product.id, item.quantity)" min="1" />

        <div class="error-message">
          <button class="btn-delete" (click)="cartService.removeFromCart(item.product.id)">刪除</button>
        </div>
      </div>
    </div>
    } }
  </div>
</div>

<div class="action-footer">
  <button class="btn-submit" (click)="onSubmit()">送出訂單 ({{ cartService.totalPrice() | currency : '$' : 'symbol' : '4.2' }})</button>
</div>
