<div class="search">
  <input
    type="text"
    id="searchKeyword"
    name="searchKeyword"
    placeholder="產品名稱查詢"
    #searchInput
    (keyup.enter)="onSearch(searchInput.value)"
  />

  <button type="button" (click)="onSearch(searchInput.value)">
    <span class="search_menu">查詢</span>
  </button>
</div>

<app-product-card-list [products]="products()" (view)="onView($event)" (addToCart)="onAddToCart($event)"></app-product-card-list>
<app-pagination [(pageIndex)]="pageIndex" [pageSize]="pageSize()" [totalCount]="totalCount()"></app-pagination>
