:host {
  display: block;
  padding: 10px;

  .search {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  input[type='text'] {
    width: 250px;
    height: 35px;
    padding: 0 5px;
    border: 2px solid #9999998a;
    border-radius: 2px;
    background-color: #fff;
    font-weight: 500;
    font-size: 18px;
    outline: none;

    &:focus {
      border-color: #000000; // 聚焦時框線更深
    }
  }

  button {
    height: 35px;
    border: 1.5px solid #005ccb;
    border-radius: 1px;
    background-color: #fff;
    color: #005ccb;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #005ccb;
      color: #fff;
    }
  }
}
